<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>http://localhost, https://localhost, http://127.0.0.1, https://127.0.0.1</param-value>
        </init-param>
        <init-param>
        <param-name>cors.allowed.methods</param-name>
        <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
      </init-param>
      <init-param>
        <param-name>cors.allowed.headers</param-name>
        <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
      </init-param>
      <init-param>
        <param-name>cors.exposed.headers</param-name>
        <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
      </init-param>
      <init-param>
        <param-name>cors.support.credentials</param-name>
        <param-value>true</param-value>
      </init-param>
      <init-param>
        <param-name>cors.preflight.maxage</param-name>
        <param-value>10</param-value>
      </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list> 
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
    
    <display-name>asWeb</display-name>
    <servlet>
        <servlet-name>asWebRest</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <param-name>org.restlet.application</param-name>
            <param-value>asWebRest.application.AnthonyRestlet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>asWebRest</servlet-name>
        <url-pattern>/r/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>asWeb</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-gaurantee>CONFIDENTIAL</transport-gaurantee>
        </user-data-constraint>
    </security-constraint>
    <!--
    <servlet>
        <servlet-name>asWeb</servlet-name>
        <servlet-class>asWeb.servlet.Controller</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>asWeb</servlet-name>
        <url-pattern>/ui/*</url-pattern>
    </servlet-mapping>
    -->
</web-app>
