/* { font-family: Garineldo; } 
by Anthony Stump
Adapted from old ASWebUI
Created: Unknown
Updated: 11 Sep 2018
*/

/* Hidden DIVs */

#CF6Results, #FitResults, #ObsResults,
    #ETCooking, #ETLego, #ETGameAll, #ETMovies, #ETStream, #ETXFilesTV, #ETReddit, #HShowETReddit,
    #ETGHours, #ETGIndex, #ETFF14Q,
    #FBAsset, #FBAuto, #FBBills, #FBBlue, #FBCheck, #FBWorkPTO, #FBUtUse,
    #WxFeed, #WxLive, #WxNews, #WxQuakes, #WxLiveContainer, #WxLocalModel, #WxCf6, #WxArchive,
    #inLogs, #loadWait
    { display: none; }
    
/* Icons */

.th_large { height: 256px; width: 256px; }
.th_medium { height: 208px; width: 208px; }
.th_sm_med { height: 156px; width: 156px; }
.th_small { height: 56px; width: 56px; }
.th_icon { height: 20px; width: 20px; }

/* All the rest */

#Blueprint { background-color: #000066; color: white; }
#FitLayoutTop { border: hidden; }
#FitLayoutTop td { background-color: black; border: hidden; color: white; width: auto; }
#ForecastIO { background-color: #000000; border: 4px solid gray; border-radius: 25px; color: #ffff33; height: 142px; width: 256px; }
#handiv { width: 500px; }
#linker { font-size: 24px; text-align: left; } 
#LWObs { align: left; border-radius: 6px; font-size: 14px; width: 268px; }
#mapHolder { height: 100%; z-index: -1; }
#WD_Live, #WDCF6MCI, #WDModel, #WDCF6MCIResu, #WDCF6MCIAlm, #WDOJCObs, #WDImage { display: none; }
#WxObsMarq { border-radius: 6px; overflow: hidden; width: 268px; }
#WxTableT, #WxTableH, #WxTableW { font-size: 50%; }

.arrow { height: 18px; width: 10px; }

.bigBoxSpan {
	background-color: #2A2A2A;
	border: 2px solid white;
	border-radius: 13px;
	clear: both;
	color: white;
	display: inline-block;
	font-size: 18px;
        min-width: 160px;
        min-height: 90px;
	height: auto;
	padding: 3px;
	text-align: center;
	width: auto;
}

.ch_large { height: 180px; width: 321px; }
.ch_small { height: 120px; width: 214px; }
.Click2Update { width: 10px; height: 10px; }

.FBTrans { overflow: hidden; width: 248px; }

.GPSInfo {
	background: black;
	border: 2px solid yellow;
	color: white;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 9998 ! important;
}

.GPSPop {
	clear: both;
	display: inline;
}

.GPSPop:hover .GPSPopO {
	background-color: #2A2A2A;
	border: 2px solid red;
	border-radius: 3px;
	color: white;
	clear: both;
	display: block;
	height: auto;
	position: fixed;
	margin-left: -480px;
	margin-top: -270px;
	overflow: hide;
	padding: 6px;
	top: 50%;
	left: 50%;
	width: auto;
	z-index: 99;
}

.GPSPop:hover .mGPSPopO {
	background-color: #2A2A2A;
	border: 2px solid red;
	border-radius: 3px;
	color: white;
	clear: both;
	display: block;
	height: auto;
	position: fixed;
	margin-left: -160px;
	margin-top: -130px;
	overflow: hide;
	padding: 6px;
	top: 50%;
	left: 50%;
	width: auto;
	z-index: 99;
}

.GPSPopO, .mGPSPopO { display: none;  height: auto; }

.GPSTopDrop { 
	background: black; 
	border: 2px solid yellow; 
	clear: right; 
	color: white; 
	display: table;
	left: 30%;
	margin: 0 auto; 
	position: absolute; 
	top: 0px; 
	text-align: center; 
	z-index: 9998 ! important; 
}

.MapLowLeftPop {
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 9999 ! important;
	width: 320px;
        max-height: 90%;
        max-width: 90%;
        overflow: scroll;
}

.MapLowLeftPop:hover .MapLowLeftPopO {
	background-color: #1A1A1A;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	clear: both;
	display: block;
	float: right;
	height: auto;
	left: 0px;
	position: fixed;
	margin: 0;
        max-height: 75%;
        max-width: 90%;
        overflow: scroll;
	bottom: 0px;
	padding: 6px;
	width: auto;
	z-index: 9995;
}

.MapLowLeftPopO { display: none; }

.MapLowRight {
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 9999 ! important;
}

.Navi {
	background: blue;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 9999 ! important;
}

.Navi:hover .NaviO {
	background-color: #1A1A1A;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	clear: both;
	display: block;
	float: right;
	height: auto;
	right: 0px;
	position: fixed;
	margin: 0;
	overflow: hide;
	top: 0px;
	padding: 6px;
	width: auto;
	z-index: 95;
}

.NaviO { display: none; }
.NaviO span { text-align: center; }

.Notice {
	background: yellow;
	bottom: 0px;
	color: black;
	font-face: Kleymissky;
	font-size: 2.0em;
	left: 0px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 99 ! important;
}

.PlayPop {
	background: #333333;
	bottom: 0px;
	color: yellow;
	left: 0px;
	position: fixed;
	text-align: center;
	width: 100%;
	overflow: auto;
	max-height: 80px;
	z-index: 99 ! important;
}

.SButton { border: 3px solid #2A2A2A; border-radius: 10px; background-color: aqua; color: black; } 

.SButton:hover { 
	background-color: blue;
	color: white;
	transform: scaleX(1.025) scaleY(1.025);
}

.SplashPop {
	clear: both;
	display: inline;
}

.SplashPop:hover .SplashPopO {
	background-color: #2A2A2A;
	border: 2px solid blue;
	border-radius: 3px;
	color: white;
	clear: both;
	display: block;
	height: 85%;
	position: fixed;
	margin-left: 0px;
	margin-top: 0px;
	overflow: scroll;
	padding: 6px;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99;
}

.SplashPopO { display: none;  height: auto; }

.U2Pop { clear: both; display: inline; }

.U2Pop:hover .U2PopO
{
	background-color: black;
	border: 2px solid red;
	border-radius: 3px;	
	box-shadow: 7px 7px 3px #000000;
	color: white;
	clear: both;
	display: block;
	float: right;
	height: auto;
	position: absolute;
	margin: 0;
	overflow: hide;
	padding-left: 6px;
	width: auto;
	z-index: 10;
}

.U2PopO { display: none;  height: auto; }

.td strong { color: red; }

.UBox {
	background-color: #2A2A2A;
	border: 2px solid white;
	border-radius: 13px;
	clear: both;
	color: white;
	display: inline-block;
	font-size: 18px;
	height: auto;
	padding: 3px;
	text-align:center;
	width: auto;
}

.UBox span {
	font-size: 15px;	
	color: #72BCD4;
}

.UBox strong { font-size: 15px; }

.UBox:hover .UBoxO {
	background-color: #363636;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	clear: both;
	display: block;
	float: right;
	font-size: 13px;
	height: auto;
	padding: 2px;
	position: absolute;
	margin: 0px;
	max-height: 256px;
	overflow: auto;
	width: auto;
	z-index: 10;
}

.UBox table { margin-left: auto; margin-right: auto; }
.UBox th { font-size: 10px; }
.UBox td { font-size: 10px; }

.UBoxO, .UChartO
{ display: none;  height: auto; }

.UBoxO a:link, .UPopO a:link { color: yellow; }
.UBoxO input, .UPopO input { width: 60px; }
.UBoxO p, .UPopO p { font-size: 12px; }
.UBoxO strong, .UPopO strong { color: yellow; }
.UButton { border: 3px solid #2A2A2A; border-radius: 10px; background-color: white; color: black; } 

.UButton:hover { 
	background-color: yellow;
	color: black;
	transform: scaleX(1.025) scaleY(1.025);
}

.UChart {}

.UChart:hover .UChartO
{
	background-color: #999999;
	border: 3px solid black;
	border-radius: 3px;
	box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	color: black;
	display: block;
	height: auto;
	position: absolute;
	padding: 6px;
	text-align:center;
	width: auto;
}

.UPop { clear: both; display: inline; }
.UPopO { display: none; }

.UPop:hover .UPopO
{
	animation: fadein 1s;
	background-color: #363636;
	border: 2px solid white;
	border-radius: 3px;
	box-shadow: 7px 7px 3px #000000;
	color: white;
	clear: both;
	display: block;
	float: right;
	height: auto;
	position: absolute;
	margin: 0;
	max-height: 256px;
	max-width: 320px;
	overflow: auto;
	padding: 6px;
	width: auto;
	z-index: 10;
}

.UPopC { clear: both; display: inline; }
.UPopCO { display: none; }

.UPopC:hover .UPopCO
{
	background-color: #363636;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	clear: both;
	display: block;
	float: right;
	height: auto;
	left: 50%;
	position: absolute;
	margin-left: -150px;
	margin-right: -150px;
	max-height: 320px;
	max-width: 320px;
	overflow: auto;
	padding: 6px;
	top: 50%;
	width: auto;
	z-index: 10;
}

.UPopNM { clear: both; display: inline; }
.UPopNMO { display: none; }

.UPopNM:hover .UPopNMO
{
	background-color: #363636;
	border: 2px solid white;
	border-radius: 3px;
	box-shadow: 7px 7px 3px #000000;
	color: white;
	clear: both;
	display: block;
	float: right;
	height: auto;
	position: absolute;
	margin: 0;
	max-height: 256px;
	overflow: auto;
	padding: 6px;
	width: auto;
	z-index: 10;
}

.WeightChartTxt
{
background-color: rgba(0,0,0,0.4);
color: white;
font-size: 1.5em;
height: 180px; width: 321px;
opacity: 0;
overflow: auto;
position: absolute;
text-align: center;
transition: all 2.5s ease;
vertical-align: 50%;
z-index: 5;
}

.WeightChartTxt:hover { opacity: 1; }

a:active { color: orange; }
a:hover { color: yellow; }
a:link { color: red; }
a:visited { color: #cc0000; }

body
{
background-color: black;
color: white;
font-family: Nikodecs; 
font-size: 12pt;
text-align: left;
}

h1 { background: linear-gradient(to right, #363636, #000000); color: white; text-align: left; }
h2 { background: linear-gradient(to right, #4D4D4D, #000000); color: white; text-align: left; }
h3 { background: linear-gradient(to right, #5E5E5E, #000000); color: white; text-align: left; }
h4 { background: linear-gradient(to right, #6F6F6F, #000000); color: white; text-align: left; }

input { background-color: yellow; border: red; color: black; }
	
li { font-weight: bold; }
table { border-width: 3px; border-style: solid; border-color: #4D4D4D; }

td {
	background-color: #2A2A2A;
	border-color: #363636;
	border-style: solid;
	border-width: 1px;
	color: white;
	padding: 2px;
}

th {
	background-color: #5E5E5E;
	border-color: #2B2B2B;
	border-style: solid;
	border-width: 2px;
	color: white;
}

DIV.table { border-width: 3px; border-style: solid; border-color: #4D4D4D; display: table; }
DIV.tr, FORM.tr { border-width: 3px; border-style: solid; border-color: #4D4D4D; display: table-row; }

SPAN.td {
	background-color: #2A2A2A;
	border-color: #363636;
	border-style: solid;
	border-width: 1px;
	color: white;
	display: table-cell;
	padding: 2px;
}

@font-face { font-family: Garineldo; src: url('/asWeb/fonts/Garineldo.otf'); }
@font-face { font-family: Nikodecs; src: url('/asWeb/fonts/Nikodecs.otf'); }

@keyframes fadein {
	from { opacity: 0; } to { opacity: 1; }
}
