/* 
    Created on : Jun 7, 2018, 8:20:04 AM
    Updated: 11 Jul 2018
    Author     : astump
*/

#animationElement {
    display: none;
}

.ol-popup {
    position: absolute;
    background-color: gray;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    height: 240px;
    left: -50px;
    width: 260px;
    max-height: 420px;
    max-width: 420px;
    display: none;
    overflow: scroll;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "x";
}

.olCircMarker {
    width: 8px;
    height: 8px;
    background-color: yellow;
    opacity: 0.5;
}

